{%  render 'partials/head.liquid' %}

<main class="home">

    {%  render 'partials/sub-logo.liquid' %}
    
    <h1>Alle steden</h1>

    <div class="steden-grid">
        {% for city in cities  %}
            
            <section class="">
                {% comment %} <a href="/stad"> {% endcomment %}
                <a href="/stad/{{ city.city }}">

                <picture> 
                    {% if city.picture %}
                        <source type="image/avif" srcset="https://fdnd-agency.directus.app/assets/{{ city.picture }}?format=avif">             
                        <source type="image/webp" srcset="https://fdnd-agency.directus.app/assets/{{ city.picture }}?format=webp">
                        <img loading="eager" width="180" height="140" src="https://fdnd-agency.directus.app/assets/{{ city.picture }}" alt="">
                        {% else %}
                        <img loading="eager" src="/assets/images/fallbackfoto.webp" width="180" height="140" alt="">
                        {% endif %}
                </picture>
                
                <h2>{{ city.city }}</h2>
                </a>
            </section>

        {% endfor %} 
    </div>

    {%  render 'partials/123-nav.liquid' %}

</main>

{%  render 'partials/foot.liquid' %}


