{%  render 'partials/head.liquid' %}

<main class="quickscan-detailpagina">

<section class="quickscan">
  {% if city.picture %}
    <img src="https://fdnd-agency.directus.app/assets/{{ city.picture }}" alt="" width="180" height="140">
  {% else %}
    <img src="/assets/images/voorbeeldfoto2.png" alt="" width="180" height="140">
  {% endif %}
  <h1>
    <a href="/stad/{{ city.city }}">
      <svg class="pijltje-terugg" width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.0713 18.6604L11.0308 19.6771C10.5902 20.1076 9.8778 20.1076 9.44191 19.6771L0.330432 10.7786C-0.110144 10.3481 -0.110144 9.65194 0.330432 9.22601L9.44191 0.322876C9.88249 -0.107625 10.5949 -0.107625 11.0308 0.322876L12.0713 1.33959C12.5166 1.77467 12.5072 2.48454 12.0526 2.91046L6.40475 8.16808H19.8751C20.4985 8.16808 21 8.65812 21 9.26723V10.7328C21 11.3419 20.4985 11.8319 19.8751 11.8319H6.40475L12.0526 17.0895C12.5119 17.5155 12.5213 18.2253 12.0713 18.6604Z" fill="white"/>
      </svg>
    </a>
    {{ city.address }}
  </h1>
</section>

<section class="locatie-tijd">
  <h2>Locatie & tijd</h2>
  <p class="info1"><span>Stad:</span> {{ city.city }}</p>
  <p class="info2"><span>Tijd:</span> {{ city.time }}</p>
  <p class="info3"><span>Lengtegraad:</span> {{ city.long }}</p>
  <p class="info4"><span>Breedtegraad:</span> {{ city.lat }}</p>
</section>

<section class="geschiktheid">
  <h2>Geschiktheid</h2>
  <p class="info1"><span>Status:</span> {{ city.status }}</p>
  <p class="info2"><span>Geschiktheid monitoring:</span> {{ city.monitoring_suitability }}</p>
  <p class="info3"><span>Geschiktheid smart zone:</span> {{ city.smartzone_suitability }}</p>
</section>

<section class="details">
  <h2>Details</h2>
  <p class="info1"><span>Verkeersbord:</span> {{ city.traffic_sign }}</p>
  <p class="info2"><span>Observaties:</span> {{ city.comment }}</p>
  <p class="info3"><span>Lengte (cm):</span> {{ city.length }}</p>
</section>

</main>
